---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.jsx'
---

<Layout title="About">
  <main>
    <Section className="bg-blb-egg">stuff</Section>
  </main>
</Layout>
