---
import Layout from 'layouts/Layout.astro'
import { Section } from 'components/shared.jsx'
---

<Layout title="About">
  <Section className="text-company-eggshell bg-company-slate">
    <h2>About</h2>
  </Section>
</Layout>
