---
import Layout from 'layouts/Layout.astro'
import { Section } from 'components/shared.jsx'
---

<Layout title="Home">
  <Section className="bg-company-eggshell text-company-slate">
    <h2>Home</h2>
  </Section>
</Layout>
