---
import Layout from 'layouts/Layout.astro'
import Section from 'components/Section.jsx'
import Header from 'components/Header.jsx'
import Footer from 'components/Footer.jsx'
---

<Layout title="Home">
  <div class="flex flex-col min-h-screen">
    <Header title="Awesome Company" />
    <main class="flex-grow">
      <Section className="bg-company-eggshell">
        <h2>Section</h2>
      </Section>
    </main>
    <Footer className="bg-company-slate text-white">
      <p>This is the footer</p>
    </Footer>
  </div>
</Layout>
